.register_text {
    width:500px;
    height:30px;
} 

.add_index{
    width:120;
}

.del_index{
    width:40;
}

.url_pull{
    width:484px;
}

.create_index{
    background-color: #CCFFFF;
    width:100;
}
